.default-bold-title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.default-container {
  margin: 0 auto;
  padding: 0 0.8rem;
  max-width: 1200px;
}
.default-link {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.3rem 1.2rem;
  border: none;
}
