.footer__info {
  max-width: 25rem;
}
.footer__nav {
  display: flex;
  max-width: 20rem;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.88rem;
}
.footer {
  padding: 5rem 0;
}
.footer__nav-title {
  color: var(--primary-gray);
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.footer__nav-link {
  font-size: 0.8rem;
  line-height: 1.4rem;
  text-decoration: none;
}
.footer__text {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
