.included {
  padding: 6rem 0;
  color: var(--main-blue);
}

.included__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.included__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.included__number {
  color: var(--main-white);
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
}

.included__text {
  color: var(--main-white);
  text-align: center;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
}
.included__title {
  text-align: center;
  color: var(--main-white);
}
