.result__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.6rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.result__text {
  margin: 0;
}

.result__item {
  flex-basis: 15.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.88rem;
  flex-grow: 1;
}
