.title-section__buttons {
  display: flex;
  gap: 1rem;
}

.title-section__container {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6.0625rem;
}

.title-section__h1 {
  font-size: 3.0625rem;
  line-height: 3.675rem;
  margin: 1.2rem 0;
  max-width: 31rem;
  text-transform: capitalize;
}

.title-section__subtitle {
  color: var(--secondary-gray);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
  max-width: 28rem;
}

.title-section__costs {
  margin: 1.3rem 0;
}

.title-section__costs-item2 {
  color: var(--main-gray);
  font-size: 1.25rem;
  line-height: 1.4rem;
  letter-spacing: 0.03125rem;
  text-decoration: line-through;
  padding: 0.5rem;
}

.title-section__enroll {
  border: 0;
}

.title-section__watch {
  background: var(--secondary-white);
  color: var(--main-gray);
  border: 0;
}

.title-section__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.title-section__img-container {
  min-width: 250px;
  margin: 0.5rem;
}

.title-section__img {
  width: 100%;
}
@media (max-width: 1200px) {
  .title-section__container {
    flex-direction: column;
  }
}
